# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
app_*.log

# Flask instance folder
instance/

# Environment variables
.env
.venv
env/
venv/
ENV/

# Database files
*.db

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
